.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://drive.google.com/uc?export=view&id=1j4zTtgPjdazmVVj7dSiBYH8e_y569PH9');
}
.home-text {
  color: rgb(235, 0, 40);
  font-size: 55px;
  align-self: center;
  font-style: normal;
  font-family: Inter Tight;
  font-weight: 700;
  text-transform: capitalize;
}
@media(max-width: 479px) {
  .home-text1 {
    color: #ffffff;
    width: auto;
    align-self: center;
  }
}
