html{
    background-color: #2e282a;    
}
 

.container{
    justify-content: center;
}
 
.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 2px 22px 16px;
   /* background: #fff;
    color: white;
    background-color: white;*/
    margin: 14px;
    
}
.our-team .pic{
   /* background:white;*/
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background:red;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color:rgb(56, 53, 53);
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    border-radius: 50%;
    font-size: 15px;
    color:white;
    border: 1px solid white;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: rgb(250, 247, 247);
    /*color: #fff;*/
    color: rgb(9, 9, 9);
}
.our-team:hover .pic{
    background: red;
    border-radius: 50%;
}
 
.row{
    margin: 2px;
    justify-content: center;
}
.about{
    color: #fff;
}
.hr{
    border-color: #fff;
}
